In [40]:
# this if the final code
import requests
import pandas as pd
from bs4 import BeautifulSoup

# Define a global variable to store the GDP data DataFrame
gdp_data_df = None

def scrape_gdp_data():
    global gdp_data_df  # Access the global variable
    
    # URL of the Wikipedia page containing the list of countries by GDP (nominal)
    url = 'https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)'
    
    # Send an HTTP GET request to the URL
    response = requests.get(url)
    
    # Check if the request was successful (status code 200)
    if response.status_code == 200:
        # Parse the HTML content of the response
        soup = BeautifulSoup(response.text, 'html.parser')
        
        # Find the table containing the GDP data
        table = soup.find('table', class_='wikitable')
        
        # Extract data from the table
        data_dict = {'Rank': [], 'Country': [], 'GDP': []}
        rows = table.find_all('tr')[1:]  # Exclude header row
        for row in rows:
            columns = row.find_all('td')
            if len(columns) >= 3:  # Ensure data is available
                rank = columns[0].text.strip()
                country = columns[1].text.strip()
                gdp = columns[2].text.strip()
                data_dict['Rank'].append(rank)
                data_dict['Country'].append(country)
                data_dict['GDP'].append(gdp)
        
        # Create a DataFrame from the dictionary
        gdp_data_df = pd.DataFrame(data_dict)
    else:
        print("Failed to retrieve GDP data. Status code:", response.status_code)

def main():
    global gdp_data_df  # Access the global variable
    
    # Scrape GDP data from Wikipedia
    scrape_gdp_data()
    
    # Print the GDP data
    if gdp_data_df is not None:
        print("GDP Data:")
        print(gdp_data_df)
    else:
        print("Failed to retrieve GDP data.")

if __name__ == "__main__":
    main()

GDP Data:
              Rank   Country          GDP
0            World         —  104,476,432
1    United States  Americas   26,949,643
2            China      Asia   17,700,899
3          Germany    Europe    4,429,838
4            Japan      Asia    4,230,862
..             ...       ...          ...
209          Palau   Oceania          267
210       Kiribati   Oceania          246
211          Nauru   Oceania          150
212     Montserrat  Americas            —
213         Tuvalu   Oceania           63

[214 rows x 3 columns]

In [41]:
gdp_data_df.head()

            Rank   Country          GDP
0          World         —  104,476,432
1  United States  Americas   26,949,643
2          China      Asia   17,700,899
3        Germany    Europe    4,429,838
4          Japan      Asia    4,230,862

In [42]:
gdp_data_df = gdp_data_df.rename(columns={'Rank':'country' , 'Country':'Continent' , 'GDP': 'GDP'})

In [43]:
gdp_data_df

           country Continent          GDP
0            World         —  104,476,432
1    United States  Americas   26,949,643
2            China      Asia   17,700,899
3          Germany    Europe    4,429,838
4            Japan      Asia    4,230,862
..             ...       ...          ...
209          Palau   Oceania          267
210       Kiribati   Oceania          246
211          Nauru   Oceania          150
212     Montserrat  Americas            —
213         Tuvalu   Oceania           63

[214 rows x 3 columns]